Import Pandas

1) Load the Automobile dataset as a dataframe

2) Get the basic information for this dataframe

3) Delete the index column (the first column)

4) Display the first 5 and the last 5 rows of the dataset

5) Get the descriptive statistics for this dataset

6) Check the shape of the dataset

7) Create a new dataframe that contains the same data sorted by price

8) Create a new column called price-range, loop through the dataset:
 

*   Price below 10000 ==> price-range = cheap
*   Price between 10000 and 20000 (both included) ==> price-range = affordable
*   Price over 20000 ==> price-range = expensive

9) Get the company name and the price of the most expensive car

10) Count the total number of cars for each of the price range

11) Display the average price for each of the companies in ascending order

12) Make a scatterplot of the horsepower (x-axis) against the price (y-axis)

13) Make a histogram of the length