Question 1: Are the rules for naming variables followed

price

1price

_price

Price


Incorrect : 1price

Question 2: Are the rules for naming variables followed

_age

age_

age_*

+age


Incorrect
age_*

+age

Question 3 : variable and Variable are different?

variable = 3

Variable = 4

Yes, as python variables are case sensitive

Question 4: Student 1 tells to student 2 that arithmetic operators can be used in python while student 2 disagrees. Can you help student 1  
 with a python code to add 4 string variables in python.

In [ ]:
#Strings # Addition
a = "Aarhus"
b = "University"
c = "Summer"
d = "Camp"
e = a + b + c + d
print(e)

AarhusUniversitySummerCamp

Question 5: Can you help Jack run the below code

variable1 = 3


9variable2 = 5

  
variable3 = variable1 + variable2
  

print(variable3)

Question 5: Can you help Jack run the below code

variable1 = 3


 # 9variable2 = 5  -  This is incorrect. Remove the 9

variable2 = 5

  
variable3 = variable1 + variable2
  

print(variable3)

 Question 6: Student 1 is not able to run the below code to assign a value to a. Please help him.

 print("Add and Assign:",a += b)

In [ ]:
a = 300
b = 10

# Add and Assign",
a += b
print("Add and Assign:",a)

Question 7: Sam has 100 oranges in his garden while Jack has 100 apples. If 1 orange is 10 euros and 1 apple is 20 euros. Can you write a python code to help Sam and Jack understand the value of 100 oranges and apples each.

In [ ]:
Sam_Oranges = 100
Jack_Apples = 100

# The value of 100 orange is

oranges_100 = Sam_Oranges * 10
print("The value of 100 orange is:", oranges_100)

The value of 100 orange is: 1000

Question 8: Complete the code below to get the output mentioned

for x in range(9):
print(5+7*x)

5

12

19

26

33

40

47

54

61

In [ ]:
for x in range(9):
  print(5+7*x)

5
12
19
26
33
40
47
54
61

Question 9: Write a python code to generate the below output

0

5

10

15

20

25

30

35

40

In [ ]:
for x in range(9):
  print(5*x)

0
5
10
15
20
25
30
35
40

Question 10: Create a list of fruits with 9 elements and print it

In [ ]:
fruits = ['Mango', 'Banana', 'Pineapple', 'Grape','Strawberry', 'Kiwi', 'Watermelon', 'Blueberry','Pear']
print(fruits)

['Mango', 'Banana', 'Pineapple', 'Grape', 'Strawberry', 'Kiwi', 'Watermelon', 'Blueberry', 'Pear']

Question 11 :  Slice from 1st element to the 4th. Print only the first 4 elements in the above list.

In [ ]:
fruits = ['Mango', 'Banana', 'Pineapple', 'Grape','Strawberry', 'Kiwi', 'Watermelon', 'Blueberry','Pear']
print(fruits)
print(fruits[0:4])

['Mango', 'Banana', 'Pineapple', 'Grape', 'Strawberry', 'Kiwi', 'Watermelon', 'Blueberry', 'Pear']
['Mango', 'Banana', 'Pineapple', 'Grape']

Question 12 : Create a list named 'list_nums' of numbers  (3,4,7,23,1,4,23,90,0,5)

In [1]:
list_nums = [3,4,7,23,1,4,23,90,0,5]

Question 14 : Iterate through each element in the above list using a for loop and add one to each element in the list and print the list

In [2]:
list_nums = [3, 4, 7, 23, 1, 4, 23, 90, 0, 5]

# Iterate through each element in the list
for i in range(len(list_nums)):
    # Add one to each element
    list_nums[i] += 1

# Print the updated list
print(list_nums)

[4, 5, 8, 24, 2, 5, 24, 91, 1, 6]

Question 15: Create an empty list named motorcycles

In [ ]:

motorcycles = []

Question 16: Add elements to the empty list created above,atleast 3 motorcycles

In [ ]:
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

Question 17: Remove two motorcycles from the list above by value

In [ ]:

motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)
motorcycles.remove('yamaha')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

Question 18: Create a dictionary for four countries. With the country as the key and their capital as the value and print the dictionary

In [ ]:
dict2 = {'Denmark' : 'Copenhagen', 'Finland' : 'Helsinki', 'India' : 'New Delhi', 'Germany' : 'Berlin'}
print(dict2)

{'Denmark': 'Copenhagen', 'Finland': 'Helsinki', 'India': 'New Delhi', 'Germany': 'Berlin'}

Question 19 : Print the length of the above created dictionary

In [ ]:
dict2 = {'Denmark' : 'Copenhagen', 'Finland' : 'Helsinki', 'India' : 'New Delhi', 'Germany' : 'Berlin'}
print(dict2)
print('Length of dictionary - ' + str(len(dict2)))

{'Denmark': 'Copenhagen', 'Finland': 'Helsinki', 'India': 'New Delhi', 'Germany': 'Berlin'}
Length of dictionary - 4
{'Denmark': 'Copenhagen', 'India': 'New Delhi', 'Germany': 'Berlin'}

*Question* 20 : Remove a country and its capital (key-value pair) from the dictionary created and print the dictionay minus that value

In [ ]:
dict2 = {'Denmark' : 'Copenhagen', 'Finland' : 'Helsinki', 'India' : 'New Delhi', 'Germany' : 'Berlin'}
print(dict2)
#Remove key-value pairs
del dict2['Finland']
print(dict2)

{'Denmark': 'Copenhagen', 'Finland': 'Helsinki', 'India': 'New Delhi', 'Germany': 'Berlin'}
{'Denmark': 'Copenhagen', 'India': 'New Delhi', 'Germany': 'Berlin'}

Question 21 : Create an empty dictionary

In [ ]:
dict4 = {} #Empty dictionary

Question 22: Add the two key-vale pair mentioned below into the above created empty dictionary and print the dictionary
1. 'Denmark' - 'Copenhagen'
2. 'Finland' - 'Helsinki

In [ ]:
#Modifying dictionary values
dict4 = {} #Empty dictionary
dict4['Denmark'] = 'Copenhagen'
dict4['Finland'] = 'Helsinki'
print(dict4)

{'Denmark': 'Copenhagen', 'Finland': 'Helsinki'}
{'Denmark': 'Copenhagen', 'Finland': 'Rome'}

Question 23 : Modify the value of Finland from Helsinki to Rome and print the dictionary

In [ ]:
#Modifying dictionary values
dict4 = {} #Empty dictionary
dict4['Denmark'] = 'Copenhagen'
dict4['Finland'] = 'Helsinki'
print(dict4)
dict4['Finland'] = 'Rome'
print(dict4)

Question 24 : Create a dictionary to store username and password

In [ ]:
#Dictionary to store username and password
userpass_dict = {
                  "chris" : "passwd123",
                  "admin" : "admin123",
                }

Question 25 : Create a Tuple wiht values 1,10 and 30

In [ ]:
my_tuple = (1,10,30)

Question 26 : Print the first value in the above created tuple

In [ ]:
my_tuple = (1,10,30)
my_tuple[1]
#Will this will  work?
my_tuple[1] = 3

Question 27 : Will this work 'my_tuple[1] = 3' to the above tuple? Give reason

In [ ]:
my_tuple = (1,10,30)
my_tuple[1]
#Will this will  work?
my_tuple[1] = 3
#no, as once a tuple is created. we cannot modify an element

TypeError: ignored