Question 1 : Create a string named str_var and assign the value 'ML is awesome' to the variable and print the variable

```
# This is formatted as code
```

In [ ]:
#Strings
str_var = 'ML is awesome'
#ML is awesome
#0123456789... #order of indices
print(str_var)

Question 2 : Print the second last element of the above created variable

In [ ]:
#Strings
str_var = 'ML is awesome'
#ML is awesome
#0123456789... #order of indices
print(str_var)
#Accessing with respect to the last element
print(str_var[-2])
print(str_var[11])

ML is awesome
m
m

Question 3 : Perform #Addition operations on strings mentioned below and print them with and without space
a = "tom"
b = "haverford"

In [ ]:
#Addition  operations on strings
a = "tom"
b = "haverford"
c = a + b
print(c)
#Add space in between
c = a + ' ' + b
print(c)

**Question 4**: Write code to ask the user to enter 3 numbers (a,b,c) and then these values are passed on to a function called **find_largest(a,b,c)** which does some comparison operations (using python comparison operators) between these three numbers and print the result

In [ ]:
#Find largest of three numbers
def find_largest(a,b,c):
  if (a >= b) and (a >= c):
    largest = a
    print("a is the largest")
  elif (b >= a) and (b >= c):
    largest = b
    print("b is the largest")
  else:
    largest = c
    print("c is the largest")


a = float(input("A= "))
b = float(input("B= "))
c = float(input("C= "))
find_largest(a,b,c)

A= 3
B= 4
C= 6
c is the largest

Question 5 : Create a class named car to store the information model,manufactures and year

In [3]:
class Car:
 # class methods
  def __init__(self, model, manufactures, year):
         self.model = model
         self.manufactures = manufactures
         self.year = year

Question 6 : Create an object of the class and print informations mentioned in the above question

In [5]:
t1 = Car("S","Tesla",2018) #t1 is an object of type Car
print(t1) #This prints the location in memory of the object
print(t1.model)
print(t1.manufactures)
print(t1.year)

<__main__.Car object at 0x7f2853fed9f0>
S
Tesla
2018

**Question 7**: Write a python class called "Employee" with four attributes - name, base_salary, bonus, travel_allowance, with a parameterized constructor to initialize these values and another function called print_total_salary which just adds up the base_salary with bonus and travel_allowance and prints it.

After you define this class, create two or three objects of this class type, say emp1, emp2 and emp3 like this -

```
emp1 = Employee("Tom",1000,300,100)
emp2 = Employee("Dick",2000,600,100)
emp3 = Employee("Harry",500,100,50)
```

And then print the total salaries by accessing the print_total_salary method -

```
emp1.print_total_salary()
emp2.print_total_salary()
emp3.print_total_salary()
```

In [ ]:
class Employee:
  def __init__(self, n, s, b, t): #Parameterized constructor
    self.name = n #n="Tom"
    self.base_salary = s #s = 1000
    self.bonus = b #b=300
    self.travel_allowance = t #t=100

  def print_total_salary(self):
    total_salary = self.base_salary + self.bonus + self.travel_allowance
    print('Total salary for ', self.name, 'is', total_salary)

#Create objects of class type Employee
emp1 = Employee("Tom",1000,300,100)
emp2 = Employee("Dick",2000,600,100)
emp3 = Employee("Harry",500,100,50)



#emp1_total_salary = emp1.base_salary+emp1.bonus+emp1.travel_allowance
#print(emp1_total_salary)

emp1.print_total_salary()
emp2.print_total_salary()
emp3.print_total_salary()

Total salary for  Tom is 1400
Total salary for  Dick is 2700
Total salary for  Harry is 650

Question 8: Create a One-dimensional array of size 9 with a range of 15 random elements. Create a Two-dimensional array with 3 rows and 4 columns inside the range of 15 random elements. Create a Three-dimensional array of 3 arrays with 4 rows and 5 columns with a range of 15 random elements.

In [ ]:
import numpy as np #alias
np.random.seed(42)  # seed for reproducibility

x1 = np.random.randint(15, size=9)  # One-dimensional array
x2 = np.random.randint(15, size=(3, 4))  # Two-dimensional array
x3 = np.random.randint(15, size=(3, 4, 5))  # Three-dimensional array

Question 9 : Write a code to print the values stored in an integer list but use excemption handling in case the user tries to print a value from a position in the list that does not have a value

In [ ]:
a = [1, 2, 3]
try:
    print ("Second element", (a[1]))

    # Throws error since there are only 3 elements in array
    print ("Fourth element", (a[3]))

except:
    print ("An error occurred")